<main class="favorites">
  <div class="container">
    <h2 class="favorites-header">Favorites</h2>
    <div class="favorites-container">
      <div class="left-wrapper">
        <div class="left-quote-block">
          <div class="left-quote-icon">
            <svg>
              <use fill="#fff" href="./img/icons.svg#icon-run"></use>
            </svg>
          </div>
          <div class="left-quote-inner">
            <div class="left-quote-header">
              <p>Quote of the day</p>
              <svg>
                <use href="./img/icons.svg#icon-quote"></use>
              </svg>
            </div>
            <div class="left-quote-text">
              <p>Short quote lorem ipsum bla bla</p>
              <p>Tom Brady</p>
            </div>
          </div>
        </div>
        <div class="left-daily">
          <div class="left-daily-icon">
            <svg>
              <use fill="#000" href="./img/icons.svg#icon-weights"></use>
            </svg>
          </div>
          <div class="left-daily-text">
            <p>110 min</p>
            <p>Daily norm of sports</p>
          </div>
        </div>
        <div class="left-img">
          <picture>
            <source media="(min-width: 1440px)" srcset="../../img/quote 1x.png">
          </picture>
          <img class="left-quote-img" src="../../img/quote%201x.png" alt=""/>
        </div>
      </div>
      <div class="favorites-list">

      </div>
    </div>
  </div>
</main>