<main>
  <section class="favorites">
    <div class="container">
      <h2 class="favorites-header">Favorites</h2>
      <div class="favorites-container">
        <div class="left-wrapper">
          <div class="left-quote-block">
            <div class="left-quote-icon">
              <svg>
                <use fill="#fff" href="./img/icons.svg#icon-runner"></use>
              </svg>
            </div>
            <div class="left-quote-inner">
              <div class="left-quote-header">
                <p>Quote of the day</p>
                <svg>
                  <use fill="#fff" href="./img/icons.svg#icon-quote"></use>
                </svg>
              </div>
              <div class="left-quote-text">
                <p id="quote-text"></p>
                <p id="quote-author"></p>
              </div>
            </div>
          </div>
          <div class="left-daily">
            <div class="left-daily-icon">
              <svg>
                <use fill="#000" href="./img/icons.svg#icon-weights"></use>
              </svg>
            </div>
            <div class="left-daily-text">
              <p>110 min</p>
              <p>Daily norm of sports</p>
            </div>
          </div>
          <div class="left-img">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/quote/favorites/quote-desk@1x.webp,
                  ./img/quote/favorites/quote-desk@2x.webp 2x,
                  ./img/quote/favorites/quote-desk@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/quote/favorites/quote-tab@1x.webp,
                  ./img/quote/favorites/quote-tab@2x.webp 2x,
                  ./img/quote/favorites/quote-tab@3x.webp 3x
                "
                type="image/webp"
              />
              <img
                class="left-quote-img"
                src="./img/quote/favorites/quote-mob@1x.webp"
                srcset="
                ./img/quote/favorites/quote-mob@2x.webp 2x,
                ./img/quote/favorites/quote-mob@2x.webp 3x
              "
                alt="Woman sportswear working outdoors"
              />
            </picture>
          </div>
        </div>
        <div class="favorites-list-wrapper">
          <p class="favorites-list-clear">It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your favorites for easier access in the future.</p>
          <ul id="favorites-list" class="favorites-list"></ul>
          <div class="favorites-pagination-block"></div>
        </div>
      </div>
    </div>
  </section>
</main>