<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template.Category</title>
  <link rel="stylesheet" href="../../css/components/category_template.css" />
</head>

<body>

  <div class="categories-section">
    <h2 class="section-title" style="visibility: hidden;">Template.Category</h2>
    <ul id="categories-container" class="categories-list">
      <p class="loading-message">Template.Loading...</p>
    </ul>
  </div>

  <script src="../../js/components/category_template.js"></script> <!--!Шлях до JS(тут стоїть до іншого темплйту) -->

</body>

</html>
<!--!TEMPLATE-->