<section class="hero-section">
  <div class="container container-hero">
    <div class="hero-top">
      <div class="hero-slogan">
        <h1 class="main-header-hero">
          <span class="icon-wrapper">
            <svg class="icon-hero">
              <use href="/img/icons.svg#icon-sun"></use>
            </svg>
          </span>
          <span class="header-italic-hero">Body</span> in shape, Stay
          healthy
        </h1>
        <p class="p-main-hero">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero-top-desktop">
        <div class="hero-img-top-container">
          <img
            srcset="/img/hero-top-1x.jpg 1x, /img/hero-top-2x.jpg 2x"
            src="/img/hero-top-1x.jpg"
            alt="women-sportswear-working-out-outdoors touching their hands together"
            class="hero-img-top"
          />
        </div>
        <ul class="hero-tags-desktop">
          <li class="hero-tag"><p class="p-middle-hero">#Sport</p></li>
          <li class="hero-tag"><p class="p-middle-hero">#Healthy</p></li>
          <li class="hero-tag"><p class="p-middle-hero">#Workout</p></li>
          <li class="hero-tag"><p class="p-middle-hero">#Diet</p></li>
        </ul>
      </div>
    </div>
    <div class="hero-img-container">
      <img
        srcset="/img/hero-1x.jpg 1x, /img/hero-2x.jpg 2x"
        src="/img/hero-1x.jpg"
        alt="women-sportswear-working-out-outdoors touching their hands together"
        class="hero-img"
      />
    </div>
    <ul class="hero-tags-mobile">
      <li class="hero-tag"><p class="p-middle-hero">#Sport</p></li>
      <li class="hero-tag"><p class="p-middle-hero">#Healthy</p></li>
      <li class="hero-tag"><p class="p-middle-hero">#Workout</p></li>
      <li class="hero-tag"><p class="p-middle-hero">#Diet</p></li>
    </ul>
  </div>
</section>
