<section class="home-quote">
  <!-- <div class="container"> -->
  <div class="home-quote-container">
    <div class="home-left-wrapper">
      <div class="left-quote-block">
        <div class="left-quote-icon">
          <svg>
            <use fill="#fff" href="/img/icons.svg#icon-runner"></use>
          </svg>
        </div>
        <div class="left-quote-inner">
          <div class="left-quote-header">
            <p>Quote of the day</p>
            <svg>
              <use fill="#fff" href="/img/icons.svg#icon-quote"></use>
            </svg>
          </div>
          <div class="left-quote-text">
            <p id="quote-text">
              A lot of times I find that people who are blessed with the most
              talent don't ever develop that attitude, and the ones who aren't
              blessed in that way are the most competitive and have the biggest
              heart.
            </p>
            <p id="quote-author">Tom Brady</p>
          </div>
        </div>
      </div>
      <div class="left-img">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/quote/home/quote-h-desk@1x.webp,
              /img/quote/home/quote-h-desk@2x.webp 2x,
              /img/quote/home/quote-h-desk@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/quote/home/quote-h-tab@1x.webp,
              /img/quote/home/quote-h-tab@2x.webp 2x,
              /img/quote/home/quote-h-tab@3x.webp 3x
            "
            type="image/webp"
          />
          <img
            class="left-quote-img"
            src="/img/quote/home/quote-h-mob@1x.webp"
            srcset="
              /img/quote/home/quote-h-mob@2x.webp 2x,
              /img/quote/home/quote-h-mob@2x.webp 3x
            "
            alt="Woman sportswear working outdoors"
          />
        </picture>
      </div>
      <div class="left-recommendation">
        <div class="left-recommendation-icon">
          <svg>
            <use fill="#fff" href="/img/icons.svg#icon-weights"></use>
          </svg>
        </div>
        <div class="left-recommendation-inner">
          <div class="left-recommendation-text">
            <p>110 min</p>
            <p>Daily norm of sports</p>
          </div>
          <div class="left-recommendation-description">
            <p>
              The World Health Organization recommends at least 150 minutes of
              moderate-intensity aerobic physical activity throughout the week
              for adults aged 18-64. However, what happens if we adjust that
              number to 110 minutes every day? While it might seem like a high
              number to hit, dedicating 110 minutes daily to sporting activities
              may offer unparalleled benefits to physical health, mental
              well-being, and overall quality of life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>
