.exercises-section {
    padding: 64px 32px 0;
}

.exercises-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.exercises-title {
    font-size: 44px;
    line-height: 1.1;
    font-weight: 400;
    color: #242424;
}

#selectedSubcategory {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;
    color: rgba(36, 36, 36, 0.5);
    margin-left: 8px;
    position: relative;
}

#selectedSubcategory:not(:empty)::before {
    content: "/";
    font-size: 44px;
    margin-right: 8px;
    color: #242424;
}

.exercises-controls {
    display: flex;
    align-items: center;
    gap: 30px;
}


.filters {
    display: flex;
    gap: 20px;
}

.filter-btn {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(36, 36, 36, 0.6);
}

.filter-btn--active {
    color: #242424;
}

.filter-btn--active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 4px;
    border-radius: 999px;
    background-color: #151515;
}


/* ===== SEARCH ===== */

[hidden] {
    display: none !important;
}

.search-wrapper {
    position: relative;
    width: 273px;
    height: 48px;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 12px 48px 12px 14px;
    border-radius: 30px;
    border: 1px solid rgba(36, 36, 36, 1);
    background-color: transparent;

    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
}

.search-input::placeholder {
    color: rgba(36, 36, 36, 0.6);
}

.search-input:focus {
    outline: none;
    border-color: #242424;
}

.search-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    stroke: #242424;
    fill: none;

    cursor: pointer;
    transition: opacity .2s;
}

.search-icon:hover {
    opacity: 0.7;
}