.exercises-section {
  padding-top: 64px;
}

.exercises-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.exercises-title {
  font-size: 44px;
  line-height: 1.1;
  font-weight: 400;
  color: #242424;
}

#selectedSubcategory {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: rgba(36, 36, 36, 0.5);
  margin-left: 8px;
  position: relative;
}

#selectedSubcategory:not(:empty)::before {
  content: '/';
  font-size: 44px;
  margin-right: 8px;
  color: #242424;
}

.exercises-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.filters {
  display: flex;
  gap: 20px;
}

.filter-btn {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(36, 36, 36, 0.6);
}

.filter-btn--active {
  color: #242424;
}

.filter-btn--active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 4px;
  border-radius: 999px;
  background-color: #151515;
}

/* ===== SEARCH ===== */

[hidden] {
  display: none !important;
}

.search-wrapper {
  flex: 0 0 273px;
  max-width: 273px;
  height: 48px;
  box-sizing: border-box;
  position: relative;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 12px 96px 12px 14px; 
  border-radius: 30px;
  border: 1px solid #242424;
  background-color: transparent;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}

.search-input::placeholder {
  color: #242424;
}

.search-input:focus::placeholder {
  opacity: 0;
}

.search-input:focus {
  outline: none;
  border-color: #242424;
}


.search-btn,
.search-clear-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  right: 16px;
  width: 18px;
  height: 18px;
}

.search-clear-btn {
  right: 48px;
  width: 18px;
  height: 18px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.search-clear-icon {
  width: 7.5px;
  height: 7.5px;
}

.search-wrapper.has-text .search-clear-btn {
  opacity: 1;
  pointer-events: auto;
}

.search-icon {
  width: 18px;
  height: 18px;
  stroke: #242424;
  fill: none;
  transition: opacity 0.2s;
}

.search-icon:hover {
  opacity: 0.7;
}

/* ========= Desktop (від 1440px) ========= */
@media screen and (min-width: 1440px) {
  .exercises-header {
    flex-direction: row;
  }

  .exercises-controls {
    justify-content: end;;
  }

  .exercises-title {
    width: 100%;
  }
}

/* ========= TABLET (768px) ========= */
@media screen and (min-width: 768px) {
  .exercises-section {
    padding-top: 64px;
  }

  .exercises-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .exercises-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .search-wrapper {
    flex: 0 0 273px;
    height: 48px;
  }

  .search-wrapper[hidden] {
    display: none !important;
  }

  .filters {
    flex-shrink: 0;
    gap: 20px;
  }

  .filter-btn {
    font-size: 16px;
  }
}

/* ========= MOBILE (до 768px) ========= */
@media (max-width: 767px) {
  .exercises-section {
    padding-top: 64px;
  }

  .exercises-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }

  .exercises-title {
    font-size: 28px;
    line-height: 1.2;
  }

  #selectedSubcategory:not(:empty)::before {
    content: '/';
    font-size: 28px;
    margin-right: 8px;
    color: #242424;
  }

  #selectedSubcategory {
    font-size: 20px;
    margin-left: 0;
  }

  .exercises-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .search-wrapper {
    width: 100%;
    max-width: 100%;
    height: 48px;
    flex: 0 0 auto;
    margin-top: 20px;
  }

  .search-wrapper[hidden] {
    display: none !important;
  }

  .filters {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .search-input {
    font-size: 14px;
  }

  .filter-btn {
    font-size: 14px;
  }
}

.filters-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;

  margin-bottom: 132px;
}

@media screen and (max-width: 1439px) {
  .filters-wrap {
    flex-direction: column-reverse;
  }
}
