.footer {
  background-color: var(--color-primary);
  color: var(--color-bg);
  padding: 40px 0 10px;
  margin: 0;

  @media only screen and (min-width: 768px) {
    padding: 64px 0 16px;
  }
}

.footer-container {
  margin: 0 20px;

  @media only screen and (min-width: 768px) {
    margin: 0 32px;
  }
}

.footer-up {
  margin-bottom: 120px;

  @media only screen and (min-width: 768px) {
    display: flex;
    gap: 114px;
    margin-bottom: 64px;
  }

  @media only screen and (min-width: 1440px) {
    gap: 158px;
  }
}
.footer-left-container {
  margin-bottom: 40px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}
.footer-logo-svg {
  width: 132px;
  height: 24px;
  fill: var(--color-bg);
}
.footer-social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-light-10);
  fill: var(--color-light);
  opacity: 0.8;
  transition: all 0.3s;
  outline: transparent;
  border-radius: 10px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-bg);
  fill: var(--color-primary);
  border: 1px solid var(--color-light-10);
}

.footer-subscribe {
  @media only screen and (min-width: 1440px) {
    display: flex;
    gap: 115px;
    width: 100%;
    justify-content: space-between;
  }
}
.footer-subscribe-tagline {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: var(--color-bg);

  @media only screen and (min-width: 768px) {
    margin-bottom: 32px;
    width: 434px;
    font-size: 56px;
    line-height: 1.07;
  }

  @media only screen and (min-width: 1440px) {
    margin-bottom: 0;
  }
}
.footer-tagline-slanting {
  font-style: italic;
}
.footer-subscribe-box {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    width: 352px;
  }
}
.footer-subscribe-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--color-bg);

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.footer-subscribe-input {
  padding: 12px 24px;
  margin-bottom: 20px;
  width: 100%;
  height: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  border-radius: 30px;
  color: rgba(224, 224, 224, 0.6);
  caret-color: rgba(224, 224, 224, 0.6);
  background-color: var(--color-primary);
  border: 1px solid var(--color-bg);

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.footer-subscribe-input:focus {
  outline: none;
}

.footer-subscribe-btn {
  width: 100%;
  height: 42px;
  border-radius: 30px;
  background-color: var(--color-bg);
  border: 1px solid var(--color-bg);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus,
.footer-subscribe-btn:active {
  color: var(--color-bg);
  background-color: var(--color-primary);
}
.footer-rights {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-secondary);
  opacity: 0.9;
}
.footer-rights-policy {
  @media only screen and (min-width: 768px) {
    display: flex;
    gap: 78px;
  }
  @media only screen and (min-width: 1440px) {
    gap: 121px;
  }
}

.footer-rights-copywriting {
  margin-right: 0;
  opacity: 0.8;

  @media only screen and (min-width: 1440px) {
    margin-right: 308px;
  }
}
