.header-container {
  margin: 0 20px;
}

@media screen and (min-width: 768px) {
  .header-container {
    margin: 0 32px;
  }
}

.header {
  position: relative;
  top: 0;
  background-color: var(--color-bg);
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.header-nav {
  min-width: 233px;
}

.header-nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background-color: var(--color-primary);
  border-radius: 60px;
  padding: 6px 0;

  list-style: none;
}

.header-nav-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-light);
  padding: 6px 12px;
  border-radius: 30px;
  transition: all 0.15s ease-in-out;
}

.header-nav-item:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.header-socials {
  display: flex;
  flex-direction: row;
  gap: 12px;

  list-style: none;
}

.header-socials-item {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border: 1px solid var(--color-primary-10);
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
}

.header-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header-socials-icon use {
  fill: var(--color-primary-80);
  transition: fill 0.15s ease-in-out;
}

.header-socials-item:hover {
  border: none;
  background-color: var(--color-primary-80);
}

.header-socials-item:hover .header-socials-icon use {
  fill: var(--color-light);
}

/* Mobile menu button */
.mobile-menu-btn {
  position: relative;
  z-index: 1001;
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.mobile-menu-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  background-color: var(--color-primary-80);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
}

.mobile-menu-btn span:first-child {
  top: 8px;
}

.mobile-menu-btn span:nth-child(2) {
  top: 16px;
}

.mobile-menu-btn span:nth-child(3) {
  top: 24px;
}

.mobile-menu-btn span:last-child {
  top: 32px;
}

.mobile-menu-btn[aria-expanded='true'] span {
  background-color: var(--color-light);
}

.mobile-menu-btn[aria-expanded='true'] span:first-child,
.mobile-menu-btn[aria-expanded='true'] span:last-child {
  top: 50%;
  transform: translateY(-50%);
  width: 0%;
  left: 50%;
}

.mobile-menu-btn[aria-expanded='true'] span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.mobile-menu-btn[aria-expanded='true'] span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Mobile menu overlay */

.header-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  z-index: 1000;
  padding: 80px 20px 20px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.header-mobile-menu[aria-expanded='true'] {
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.mobile-menu-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-items {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu-item {
  text-align: center;
  border-radius: 30px;
  padding: 6px 12px;
  color: var(--color-light);
  transition: all 0.15s ease-in-out;
}

.mobile-menu-item:hover {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.mobile-menu-nav-link {
  display: block;
  text-decoration: none;
  font-size: 18px;
  transition: opacity 0.15s ease-in-out;
}

.header-mobile-menu[aria-expanded='true'] .header-socials-item {
  border-color: var(--color-light-10);
  transition: all 0.15s ease-in-out;
}

.header-mobile-menu[aria-expanded='true'] .header-socials-icon use {
  fill: var(--color-light);
  transition: fill 0.15s ease-in-out;
}

.header-mobile-menu[aria-expanded='true'] .header-socials-item:hover {
  border: none;
  background-color: var(--color-light);
}

.header-mobile-menu[aria-expanded='true']
  .header-socials-item:hover
  .header-socials-icon
  use {
  fill: var(--color-primary-80);
}

/* Prevent body scroll when menu is open */
body:has(.header-mobile-menu[aria-expanded='true']) {
  overflow: hidden;
}

/* Helper classes */
.nav-active {
  background-color: var(--color-light);
  color: var(--color-primary);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
