.favorites-header {
  font-size: 44px;
  font-weight: 400;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}

.favorites-container,
.home-quote-container {
  display: flex;
  width: 100%;
  gap: 32px;
}

.left-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 494px;
  min-width: 494px;
  height: max-content;
}

.left-quote-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #242424;
  padding: 40px;
  border-radius: 20px;
}

.left-daily,
.left-img {
  width: calc(50% - 8px);
  max-height: 141px;
}

.left-quote-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #f4f4f433;
  border-radius: 50%;
  flex-shrink: 0;
}

.left-quote-icon svg {
  width: 20px;
  height: 20px;
}

.left-quote-inner {
  padding-left: 16px;
  width: 100%;
}

.left-quote-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #f4f4f4;
}

.left-quote-header p {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  margin-bottom: 6px;
}

.left-quote-header svg {
  width: 24px;
  height: 24px;
}

.left-quote-text p:first-child {
  color: #f4f4f499;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 18px;
}

.left-quote-text p:last-child {
  color: #f4f4f4;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.left-daily {
  padding: 25px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-daily-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
  flex-shrink: 0;
}

.left-daily-icon svg {
  width: 20px;
  height: 20px;
}

.left-daily-text p:first-child,
.left-recommendation-text p:first-child {
  color: #242424;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  font-weight: 500;
  margin-bottom: 6px;
}

.left-daily-text p:last-child,
.left-recommendation-text p:last-child {
  color: #24242499;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 400;
}

.left-img {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.left-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorites-list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.favorites-list-clear {
  color: #242424;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
  max-width: 554px;
}

.home-quote .left-wrapper {
  gap: 32px;
  max-width: 444px;
}
.home-quote .left-img {
  width: 100%;
  min-height: 249px;
}

.left-recommendation {
  display: flex;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 20px;
}

.left-recommendation-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #242424;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.left-recommendation-icon svg {
  width: 20px;
  height: 20px;
}
.left-recommendation-inner {
  padding-left: 16px;
}
.left-recommendation-text {
  margin-bottom: 20px;
}
.left-recommendation-description p {
  color: #242424;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
}

.favorites-list {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  column-gap: 16px;
  row-gap: 32px;
  max-height: calc(100vh - 300px);
  padding-right: 16px;
  width: 100%;
}

.favorites-list::-webkit-scrollbar {
  width: 10px;
}

.favorites-list::-webkit-scrollbar-thumb {
  background: #242424;
  border-radius: 12px;
}

.favorites-list::-webkit-scrollbar-track {
  background-color: #2424241a;
  border-radius: 12px;
}

.favorites-list .exercise-card {
  width: calc(50% - 8px);
  max-width: 405px;
}

.favorites-pagination-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-top: 32px;
  padding-bottom: 20px;
}

.favorites-pagination-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: transparent;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  color: #d4d4d4;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 32px;
}

.favorites-pagination-btn:hover {
  color: #242424;
}

.favorites-pagination-btn.active {
  border-color: #242424;
  background-color: transparent;
  color: #242424;
  cursor: default;
  font-size: 24px;
  font-weight: 400;
}

@media screen and (max-width: 1439px) {
  .favorites-list {
    overflow-y: hidden;
    max-height: unset;
    padding-right: 0;
  }
  .favorites-container {
    flex-direction: column;
    max-width: none;
    gap: 64px;
  }
  .left-wrapper {
    max-width: unset;
    min-width: unset;
  }

  .left-quote-block {
    width: 100%;
  }

  .left-daily,
  .left-img {
    width: calc(50% - 8px);
  }

  .left-daily {
    padding: 32px;
  }

  .favorites-list-clear {
    padding-top: 132px;
    padding-bottom: 132px;
  }

  .home-quote-container {
    flex-wrap: wrap;
  }

  .home-quote .left-wrapper {
    column-gap: 16px;
    row-gap: 32px;
    max-width: unset;
  }

  .home-quote .left-quote-block,
  .home-quote .left-recommendation {
    width: calc(60% - 8px);
  }

  .home-quote .left-quote-block {
    min-height: 249px;
  }

  .home-quote .left-img {
    width: calc(40% - 8px);
    min-height: 249px;
  }

  .left-recommendation-description p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .favorites-list {
    gap: 20px;
  }
  .favorites-list .exercise-card {
    width: 100%;
  }
  .left-quote-header p {
    font-size: 20px;
  }

  .left-quote-block {
    padding: 20px;
  }

  .left-quote-header svg {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }

  .left-daily,
  .left-img {
    width: 100%;
  }

  .favorites-list-clear {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
  }

  .left-recommendation {
    padding: 20px 20px 40px 20px;
  }

  .left-daily-text p:first-child,
  .left-recommendation-text p:first-child {
    font-size: 20px;
  }
  .left-recommendation-text p:first-child {
    margin-bottom: 0;
    margin-top: -5px;
  }

  .home-quote .left-wrapper {
    gap: 16px;
  }

  .home-quote .left-quote-block,
  .home-quote .left-img,
  .home-quote .left-recommendation {
    width: 100%;
  }
  .home-quote .left-quote-block {
    min-height: auto;
  }
  .home-quote .left-img {
    min-height: 242px;
  }
}
