.home {
  /* Home page styles here */

  .hero-section {
    /* special styles here */
  }
}

/* ---------------------------------- */
/* ---------- Hero section ---------- */
/* ---------------------------------- */
