
/* Common styles */
@import url('./global/reset.css');
@import url('./global/base.css');
@import url('./global/container.css');

/* Sections style */
@import url('./components/header.css');
@import url('./components/footer.css');

/* Pages */
@import url('./pages/home.css');
@import url('./pages/favorites.css');