/* Common styles */
@import url('./global/variables.css');
@import url('./global/normalize.css');
@import url('./global/reset.css');
@import url('./global/base.css');
@import url('./global/container.css');

/* Sections style */
@import url('./components/loader-page.css');
@import url('./components/header.css');
@import url('./components/hero.css');
@import url('./components/footer.css');
@import url('./components/filter-panel.css');
@import url('./components/category_template.css');

/* Pages */
@import url('./pages/home.css');
@import url('./pages/favorites.css');

/* Component styles */
@import url('./components/to_top_btn.css');
@import url('./components/exercise-card.css');

/* Search */
@import url('./components/search.css');

